*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    height: 180vh;
    background-color: black;
    background-size: cover;
    background-position: center;
    
 
   
}

.column1{
    width: 10%;
    display: flex;
    float: left;
}
.column2{
    width: 10%;
    display: flex;
    float: left;
}

.column3{
    width: 10%;
    display: flex;
    float: left;
    
}

.column4{
    width: 33%;
    float: left;
}

.column5{
    width: 33%;
    float: left;
}

.column6{
    width: 33%;
    float: left;
}



@media screen and (max-width: 1200px) {
    .column1 {
      width: 10%;
    }
    .column2 {
        width: 10%;
    }
    .column3 {
        width: 10%;
    }
    .column4 {
        margin-left: 20%;
        width: 15%;
    }
    .column5 {
        width: 15%;
    }
    .column6 {
        width: 15%;
    }
}







  







* {
    box-sizing: border-box;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 20px;
    
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
 
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column1 {
      width: 33%;
      float: left;
    }
    .column2 {
        width: 33%;

    }
    .column3 {
        width: 33%;

    }
    .column4 {
        width: 100%;

    }
    .column5 {
        width: 100%;
        float: left;
    }
    .column6 {
        width: 100%;
        float: left;
    }
}



.row{
    width: 100%;
}